* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #15202b;
  color: #ffffff;
}
.twitter-icon {
  width: 40px;
  height: 40px;
  color: #1da1f2;
  fill: #1da1f2;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-md;
  padding-right: $spacing-md;

  @include respond-to("sm") {
    max-width: map-get($breakpoints, "sm");
  }

  @include respond-to("md") {
    max-width: map-get($breakpoints, "md");
  }

  @include respond-to("lg") {
    max-width: map-get($breakpoints, "lg");
  }
}
