.confirmEmail {
  display: flex;
  height: 600px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #002244;
  &__btn {
    display: flex;
    height: 30px;
    width: 120px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(182, 178, 178, 0.2);
    border: 1px solid rgba(182, 178, 178, 0.2);
    border-radius: 5px;
  }
  &__btn:hover {
    background-color: white;
    color: black;
    border-color: white;
  }
}
