@import "../styles/styles.scss";
@import "../styles/main.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.auth-container {
  background-color: #192734;
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
}

.auth-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input-error {
  background-color: white;
}
